.slider {
    width: 100%;
    height: 450px;
    background:url(../../slider.png) no-repeat center / cover;
    display: block;
    position: relative;
}
.slider h1 {
    width: 100%;
    height: auto;
    color: #FFFFFF;
    font-weight: bold;
    position: absolute;
    top: 50%;
}