.vehicules {
    width: 100%;
    height: auto;
    text-align: center;
    background: url(../img/fondvehicules.png) no-repeat center / cover;
  }
  .vehicules .wrapper-vignettes {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .vehicules .wrapper-vignettes .vignettes,
  .vehicules .wrapper-vignettes .s-vignettes {
    width: 100%;
    height: auto;
    padding: 0 20px;
    margin: 20px 0 40px 0;
    display: flex;
    justify-content: space-between;
  }
  
  .vehicules .vignettes .picto,
  .vehicules .s-vignettes .picto { 
    width: 30%; 
    height: 250px; 
    padding: 20px 0 0 0; 
    border-radius: 20px; 
    background: #FFFFFF; 
    -webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75); 
    -moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75); 
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);     
    transform: perspective(1px) translateZ(0); 
    -webkit-transition-duration: 0.3s; 
    transition-duration: 0.3s; 
    -webkit-transition-property: transform; 
    transition-property: transform; 
  } 
  .vehicules .vignettes .picto:hover,
  .vehicules .s-vignettes .picto:hover { 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
  } 
  
  .vehicules .vignettes .picto.left { 
    background: #FFFFFF url(../img/voiture1.png) no-repeat center / 250px 150px; 
  } 
  .vehicules .vignettes .picto.middle { 
    background: #FFFFFF url(../img/voiture2.jpg) no-repeat center / 250px 150px; 
  } 
  .vehicules .vignettes .picto.right { 
    background: #FFFFFF url(../img/voiture3.jpg) no-repeat center / 250px 150px; 
  }
  
  .vehicules .s-vignettes .picto.left { 
    background: #FFFFFF url(../img/voiture4.jpg) no-repeat center / 250px 150px; 
  } 
  .vehicules .s-vignettes .picto.middle { 
    background: #FFFFFF url(../img/voiture5.png) no-repeat center / 250px 150px; 
  } 
  .vehicules .s-vignettes .picto.right { 
    background: #FFFFFF url(../img/voiture6.png) no-repeat center / 250px 150px; 
  }