@font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/JosefinSans-ThinItalic.eot');
    src: url('../fonts/JosefinSans-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/JosefinSans-ThinItalic.woff2') format('woff2'),
        url('../fonts/JosefinSans-ThinItalic.woff') format('woff'),
        url('../fonts/JosefinSans-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/JosefinSans-SemiBoldItalic.eot');
    src: url('../fonts/JosefinSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/JosefinSans-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/JosefinSans-SemiBoldItalic.woff') format('woff'),
        url('../fonts/JosefinSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/JosefinSans-BoldItalic.eot');
    src: url('../fonts/JosefinSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/JosefinSans-BoldItalic.woff2') format('woff2'),
        url('../fonts/JosefinSans-BoldItalic.woff') format('woff'),
        url('../fonts/JosefinSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/JosefinSansRegularItalic.eot');
    src: url('../fonts/JosefinSansRegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/JosefinSansRegularItalic.woff2') format('woff2'),
        url('../fonts/JosefinSansRegularItalic.woff') format('woff'),
        url('../fonts/JosefinSansRegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/JosefinSans-Light.eot');
    src: url('../fonts/JosefinSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/JosefinSans-Light.woff2') format('woff2'),
        url('../fonts/JosefinSans-Light.woff') format('woff'),
        url('../fonts/JosefinSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/JosefinSans-Thin.eot');
    src: url('../fonts/JosefinSans-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/JosefinSans-Thin.woff2') format('woff2'),
        url('../fonts/JosefinSans-Thin.woff') format('woff'),
        url('../fonts/JosefinSans-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/JosefinSans-SemiBold.eot');
    src: url('../fonts/JosefinSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/JosefinSans-SemiBold.woff2') format('woff2'),
        url('../fonts/JosefinSans-SemiBold.woff') format('woff'),
        url('../fonts/JosefinSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/JosefinSans.eot');
    src: url('../fonts/JosefinSans.eot?#iefix') format('embedded-opentype'),
        url('../fonts/JosefinSans.woff2') format('woff2'),
        url('../fonts/JosefinSans.woff') format('woff'),
        url('../fonts/JosefinSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/JosefinSans-Bold.eot');
    src: url('../fonts/JosefinSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/JosefinSans-Bold.woff2') format('woff2'),
        url('../fonts/JosefinSans-Bold.woff') format('woff'),
        url('../fonts/JosefinSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/JosefinSans-LightItalic.eot');
    src: url('../fonts/JosefinSans-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/JosefinSans-LightItalic.woff2') format('woff2'),
        url('../fonts/JosefinSans-LightItalic.woff') format('woff'),
        url('../fonts/JosefinSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
  }
  
  
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans';
  }
  
  th:not(:first-child), td:not(:first-child){
      text-align: center;
  }
  
  .flag {
      width: 16px;
      height: 11px;
      background:url(/img/flags.png) no-repeat
  }
  
  .flag.flag-es {background-position: -16px 0}
  .flag.flag-fr {background-position: -32px 0}
  .flag.flag-gp {background-position: -48px 0}
  .flag.flag-gr {background-position: 0 -11px}
  .flag.flag-it {background-position: -16px -11px}
  .flag.flag-ma {background-position: -32px -11px}
  .flag.flag-mq {background-position: -48px -11px}
  .flag.flag-mt {background-position: 0 -22px}
  .flag.flag-pt {background-position: -16px -22px}
  .flag.flag-re {background-position: -32px -22px}
  .flag.flag-tn {background-position: -48px -22px}
    
    


.title_list_item{
    padding-top:40px;
    text-align:center;
   }
   
   .title_list_item_title{
    text-align:center;
    font-size:20px;
   
   }
   
.voiture_detail{
    margin-left: 20 px;
}