<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="utf-8" />
		
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>

	<body>
		<div class="container">
			<div id="addVehicule-parent"><%- component %></div>
		</div>

	</body>

</html>